.profileWrapper {
	padding-top: 159px;
	font-size: 24px;
	z-index: -5;
	padding-left: 91px;
}
.profile {
	margin-top: 200px;
}
.welcomeUser {
	font-size: 48px;
	position: absolute;
	text-align: left;
}
.userName {
	color: #ff0101;
	padding-left: 10px;
}
.feliz {
	font-size: 18px;
}

.keyData {
	width: 258px;
}

@media screen and (max-width: 1439px) {
	.profileWrapper {
		padding-top: 119px;
		font-size: 18px;
		padding-left: 120px;
	}
	.profile {
		margin-top: 120px;
	}
	.welcomeUser {
		font-size: 38px;
	}
	.feliz {
		font-size: 14px;
	}
	.keyData {
		width: 200px;
	}
}
