.profile {
	padding-top: 159px;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: -5;
}
.profileBody {
	margin-top: 159px;
	margin-left: 224px;
	display: flex;
	justify-content: space-between;
}
.welcomeUser {
	font-size: 48px;
	position: absolute;
	left: 224px;
	text-align: left;
}
.userName {
	color: #ff0101;
	padding-left: 10px;
}
.feliz {
	font-size: 18px;
}
.graphs {
	border: 2px solid red;
}

.keyData {
	padding-right: 10%;
}
